*{
	font-family: cursive;
}
.navbar .navbar-brand{
	font-size: 30px;
	font-weight: 800px;
	text-transform: uppercase;
}
.navbar, .nav-link{
	text-transform: uppercase;
}
.navbar .nav-link:hover{
	background-color: white;
}
.carousel-item img{
	height: 350px;
}
#gallery img{
	height: 180px;
}